:root {
    --primary-bg-color: #222;
    --secondary-bg-color: #000;
    --tertiary-bg-color: #111;
    --primary-color: #6d28f7;
    --secondary-color: #8243ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: #fff;
    background-color: var(--primary-bg-color);
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--secondary-bg-color);
}

.sidebar-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sidebar-item a {
    font-weight: 600;
    cursor: pointer;
}

.sidebar-item a:hover {
    color: var(--secondary-color);
    transition: 200ms ease-in-out;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
